In [1]:
import pandas

In [2]:
df = pandas.read_csv("ps1_nipa_unformatted.csv", header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,288,289,290,291,292,293,294,295,296,297
0,Line,NaN,1947,1947,1947,1947,1948,1948,1948,1948,...,2018,2018,2019,2019,2019,2019,2020,2020,2020,2020
1,Line,NaN,Q1,Q2,Q3,Q4,Q1,Q2,Q3,Q4,...,Q3,Q4,Q1,Q2,Q3,Q4,Q1,Q2,Q3,Q4
2,1,Gross domestic product,12.552,12.519,12.493,12.688,12.879,13.092,13.167,13.181,...,115.777,116.157,116.999,117.433,118.181,118.874,117.373,106.825,114.815,115.949
3,2,Personal consumption expenditures,11.583,11.776,11.814,11.818,11.877,12.015,12.033,12.129,...,117.954,118.412,118.955,120.042,120.846,121.322,119.184,107.754,117.425,118.152
4,3,Goods,12.230,12.450,12.533,12.580,12.599,12.713,12.701,12.785,...,126.746,127.547,128.338,130.747,132.093,132.275,132.305,128.580,141.637,141.479
5,4,Durable goods,3.896,3.978,4.033,4.295,4.273,4.302,4.375,4.313,...,148.910,149.819,150.175,154.730,157.123,158.333,153.114,152.470,177.260,177.240
6,5,Nondurable goods,20.684,21.038,21.135,20.859,20.927,21.132,21.004,21.279,...,117.109,117.861,118.823,120.353,121.270,121.043,123.143,118.223,126.508,126.296
7,6,Services,10.450,10.602,10.580,10.525,10.637,10.804,10.862,10.971,...,114.013,114.330,114.770,115.323,115.909,116.498,113.519,99.156,107.470,108.535
8,7,Gross private domestic investment,8.319,7.681,7.455,8.898,9.811,10.418,10.525,10.022,...,130.272,131.526,132.786,130.827,131.427,130.192,127.165,108.698,127.000,134.371
9,8,Fixed investment,8.923,8.692,8.973,9.711,10.022,10.007,9.905,9.792,...,130.053,130.901,131.825,131.681,132.480,132.802,132.341,121.399,129.962,135.571
10,9,Nonresidential,6.065,5.971,5.861,6.024,6.374,6.161,6.176,6.320,...,127.893,129.459,130.789,130.801,131.406,131.293,129.043,119.212,125.512,129.628
11,10,Structures,28.558,28.407,28.600,28.189,28.774,29.575,30.459,30.895,...,115.383,111.567,113.787,114.249,115.251,113.704,112.635,101.681,96.924,97.644
12,11,Equipment,4.427,4.332,4.186,4.429,4.804,4.484,4.427,4.569,...,126.698,129.630,130.270,129.002,128.458,127.919,122.744,109.834,125.086,132.234
13,12,Intellectual property products,1.374,1.357,1.356,1.328,1.340,1.319,1.320,1.310,...,139.538,143.589,145.177,146.645,148.550,150.247,151.146,146.643,149.628,152.349
14,13,Residential,27.629,26.248,30.261,36.094,35.623,37.686,36.489,33.815,...,140.996,139.113,138.513,137.777,139.334,141.319,147.593,132.234,149.411,160.616
15,14,Change in private inventories,---,---,---,---,---,---,---,---,...,---,---,---,---,---,---,---,---,---,---
16,15,Net exports of goods and services,---,---,---,---,---,---,---,---,...,---,---,---,---,---,---,---,---,---,---
17,16,Exports,4.461,4.405,4.181,3.708,3.539,3.208,3.283,3.167,...,115.501,116.315,116.846,115.523,115.757,116.728,113.865,87.958,98.870,103.911
18,17,Goods,4.835,4.700,4.441,3.891,3.730,3.355,3.442,3.304,...,116.267,117.501,118.622,115.833,116.709,117.430,116.619,88.537,105.845,113.250
19,18,Services,2.833,3.072,3.005,2.868,2.664,2.530,2.554,2.532,...,114.230,114.260,113.698,115.074,114.142,115.569,109.017,86.914,86.798,87.724
20,19,Imports,2.184,2.226,1.974,2.081,2.346,2.439,2.566,2.525,...,125.053,126.313,125.651,126.197,126.340,123.896,118.960,97.921,115.424,123.127
21,20,Goods,2.016,2.062,1.785,1.809,2.113,2.196,2.244,2.237,...,127.534,128.528,127.664,127.705,127.941,124.805,121.078,102.024,122.851,131.390
22,21,Services,2.933,2.958,2.842,3.371,3.417,3.558,4.085,3.870,...,114.106,116.430,116.592,119.141,118.920,119.199,109.613,81.158,85.795,90.213
23,22,Government consumption expenditures and gross ...,16.706,16.692,16.689,16.554,16.800,17.393,17.756,18.410,...,103.520,103.289,103.922,105.204,105.760,106.390,106.721,107.387,106.063,105.730
24,23,Federal,20.588,20.418,20.158,19.711,20.206,21.010,21.493,22.460,...,96.056,96.507,96.831,98.992,100.154,101.133,101.524,105.462,103.777,103.635
25,24,National defense,28.009,26.052,26.753,27.332,27.020,26.415,26.215,27.201,...,91.320,92.748,94.021,95.034,96.347,97.900,97.834,98.751,99.525,100.753
26,25,Nondefense,8.921,11.973,10.143,8.141,9.837,12.953,14.596,15.580,...,104.129,102.961,101.733,105.781,106.696,106.723,107.874,116.831,111.078,108.668
27,26,State and local,12.833,13.010,13.307,13.514,13.483,13.852,14.089,14.424,...,108.615,107.925,108.768,109.457,109.609,110.005,110.297,108.791,107.705,107.246

In [3]:
df.iloc[0,:] = df.iloc[0,:] + df.iloc[1,:]

In [4]:
df = df.drop(1).drop(0,axis=1).transpose()

In [5]:
df

,0,2,3,4,5,6,7,8,9,10,...,18,19,20,21,22,23,24,25,26,27
1,NaN,Gross domestic product,Personal consumption expenditures,Goods,Durable goods,Nondurable goods,Services,Gross private domestic investment,Fixed investment,Nonresidential,...,Goods,Services,Imports,Goods,Services,Government consumption expenditures and gross ...,Federal,National defense,Nondefense,State and local
2,1947Q1,12.552,11.583,12.230,3.896,20.684,10.450,8.319,8.923,6.065,...,4.835,2.833,2.184,2.016,2.933,16.706,20.588,28.009,8.921,12.833
3,1947Q2,12.519,11.776,12.450,3.978,21.038,10.602,7.681,8.692,5.971,...,4.700,3.072,2.226,2.062,2.958,16.692,20.418,26.052,11.973,13.010
4,1947Q3,12.493,11.814,12.533,4.033,21.135,10.580,7.455,8.973,5.861,...,4.441,3.005,1.974,1.785,2.842,16.689,20.158,26.753,10.143,13.307
5,1947Q4,12.688,11.818,12.580,4.295,20.859,10.525,8.898,9.711,6.024,...,3.891,2.868,2.081,1.809,3.371,16.554,19.711,27.332,8.141,13.514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
293,2019Q4,118.874,121.322,132.275,158.333,121.043,116.498,130.192,132.802,131.293,...,117.430,115.569,123.896,124.805,119.199,106.390,101.133,97.900,106.723,110.005
294,2020Q1,117.373,119.184,132.305,153.114,123.143,113.519,127.165,132.341,129.043,...,116.619,109.017,118.960,121.078,109.613,106.721,101.524,97.834,107.874,110.297
295,2020Q2,106.825,107.754,128.580,152.470,118.223,99.156,108.698,121.399,119.212,...,88.537,86.914,97.921,102.024,81.158,107.387,105.462,98.751,116.831,108.791
296,2020Q3,114.815,117.425,141.637,177.260,126.508,107.470,127.000,129.962,125.512,...,105.845,86.798,115.424,122.851,85.795,106.063,103.777,99.525,111.078,107.705
297,2020Q4,115.949,118.152,141.479,177.240,126.296,108.535,134.371,135.571,129.628,...,113.250,87.724,123.127,131.390,90.213,105.730,103.635,100.753,108.668,107.246

In [6]:
df = df.iloc[1:,[1,2,7,8,9,10,11,12,13]]

In [7]:
df = df.rename(columns={2:"gdp",3:"c",8:"investment",9:"fixed_i",10:"nonresidential",11:"structures",12:"equipment",13:"intellectual",14:"residential"})

In [8]:
df = df.replace(to_replace="---",value="")

In [9]:
df.to_csv("ps1_data.csv", index=False)

In [25]:
df = df.astype(float)

In [22]:
import numpy as np

In [26]:
df.apply(np.log)

,gdp,c,investment,fixed_i,nonresidential,structures,equipment,intellectual,residential
2,2.529880,2.449539,2.118542,2.188632,1.802535,3.351937,1.487722,0.317726,3.318866
3,2.527247,2.466064,2.038750,2.162403,1.786914,3.346636,1.466029,0.305276,3.267590
4,2.525168,2.469285,2.008885,2.194220,1.768320,3.353407,1.431746,0.304539,3.409860
5,2.540657,2.469624,2.185827,2.273259,1.795751,3.338932,1.488174,0.283674,3.586127
6,2.555598,2.474604,2.283504,2.304783,1.852227,3.359472,1.569449,0.292670,3.572991
...,...,...,...,...,...,...,...,...,...
293,4.778064,4.798448,4.869010,4.888859,4.877431,4.733599,4.851397,5.012281,4.951020
294,4.765357,4.780669,4.845485,4.885382,4.860146,4.724153,4.810101,5.018246,4.994458
295,4.671192,4.679851,4.688573,4.799083,4.780903,4.621840,4.698970,4.988001,4.884573
296,4.743322,4.765800,4.844187,4.867242,4.832401,4.573927,4.829002,5.008152,5.006701
297,4.753150,4.771972,4.900605,4.909495,4.864669,4.581328,4.884573,5.026174,5.079016

gdp               0
c                 0
investment        0
fixed_i           0
nonresidential    0
structures        0
equipment         0
intellectual      0
residential       0
dtype: int64